.banner{
    width: 100%;
}
.bannerimg{
    width: 100%;
}

.contenedor{
 background-color: #c9c7c7;
}
.titulo{
    color: #321473;
    margin-left: 12%;
   }

.textprincipal{
    color: #321473;
}
   
