.modal-body{
    padding: 0;
    border-radius: 30px;
}
. w-100{
   
    width: 250px;
    height: 260px;
    left: 64px;
    top: 289px;
}
.carousel-caption{
 bottom: 60%;
 top:10%;
 display:flex;
 flex-direction: column;
}
.button_modal{
    background: #321473;
    border-radius: 7px;
}
.button_modal_tr{
   background: none;
   border:none;
   font-size: small;
   
}
.title{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: -0.019em;
/* position: absolute; */
width: 184px;
height: 42px;
left: 92px;
top: 130px;
margin: 0;
}

@media (min-width:578px) {
    .carousel-caption{
        bottom: 60%;
        }
   
};
@media screen and (min-width:425px) {
    .carousel-caption{
        bottom: 70%;
        }
};
@media screen and (min-width:768px) {
    .carousel-caption{
        bottom: 70%;
        }
        .modal-body{
            padding: 0;
            border-radius: 30px;
            display: flex;
            flex-direction: row;
           

        }

};