.personalized {
    background-color: #321473;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: white;
    font-weight: bold;
  }

  .personicon{
    color: white;
  }

  .personicon:hover{
    color: white
  }

  .navbar-toggler {
   color:  #321473;
  }

  .logo {
   width: 30vh;
   }